{{> head }}
<!--De esta manera puedo hacer referencia a un template hbs,-->
<!--en este ejemplo ocupo el navbar-->
{{> navbar }}

<div class="row justify-content-center align-items-center">

    <div class="col-6 m-2">
        <h2 class="text-center mb-3">Kratos</h2>
        <p class="text-center">Un Oráculo predijo que la destrucción del Olimpo no llegaría a manos de los Titanes encarcelados por los
            Dioses durante la Gran Guerra. En su lugar, quien terminaría con el Olimpo, sería un Guerrero mortal,
            marcado, sediento de venganza.</p>
        <hr>
        <p class="text-center">
            Temeroso, Zeus ordena a Ares y Atenea que busquen y traigan al mortal se supone era el de la profecía.
            Finalmente dan con su paradero, del joven quien por sus marcas de nacimiento creyeron que era el elegido
            para este fin, era un joven Espartano llamado Deimos quien se encontraba entrenando a su hermano menor,
            Kratos. Ares toma como rehén a Deimos y Kratos trata de impedirlo, pero es herido en uno de sus ojos
            quedando con la característica cicatriz en su cara que lo acompañaría de ahora en adelante.
        </p>
    </div>

    <div class="col-5 mt-3">
        <img src="assets/img/God-of-War.png" alt="Imagen About" class="img-thumbnail">

    </div>

</div>

{{> footer }}
